nav {
  text-align: center;
  margin: 0;
  padding: 0;
}
nav h1 {
  padding-right: 50px;
}
.nav-header li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}
footer {
  position: static;
  /* background-color: #ccc; */
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}
footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}
h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0;
  color: #0AC3CF;
}
h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
}
#landing {
  background: #fff;
}
#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
#landing-text button {
  background: #C716C4;
  border-radius: 6%;
  font-size: 1.3rem;
}
#landing-text h2 {
  color: #888;
}
#landing-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}
.img {
  max-width: 95%;
  max-height: 90%;
}
button:hover {
  background: #f4f4f4;
}
#git-img {
  width: 30%;
}
.card {
  display: flex;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card p {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}
.card h4 {
  font-size: 25px;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }
  #landing-text {
    height: 100vh;
  }
  #landing-text button {
    padding: 25px 20px;
  }
  #landing-image {
    height: 100vh;
  }
}
/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}
