html, body {
    height: 100%;
    
    font-family: 'Titillium Web', sans-serif;
    background-color:  #0AC3CF;
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

h1 {
    font-family: sans-serif;
    letter-spacing: 2px;
    color: white;
}


section{
    
    padding:3% 0%;

    h2, p, button{
        padding: 1% 3%;
    }
   
    .sec-div, p, button{
    font-size: 1.2rem;
    

    
    }
}

