nav {
    text-align: center;
    margin: 0;
    padding: 0;

    h1{
        padding-right: 50px;
    }
  }
  .nav-header li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  

  ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
}


